/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
  }
  
  /* Links */
  a {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* General Layout */
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  button {
    cursor: pointer;
  }
  
  hr {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ddd;
  }
  